/* ./src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .router-link-exact-active {
      color: rgba(129, 140, 248, 1);
    }

    .custom-backdrop {
      -webkit-backdrop-filter: blur(2.5px);
      backdrop-filter: blur(2.5px);
    }

    .with-scroll {
      scrollbar-width: thin; /* Firefox */
      -ms-overflow-style: none; /* IE 10+ */
    }

    .with-scroll::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent !important;
    }

    .with-scroll::-webkit-scrollbar {
      width: 6px !important;
      background-color: transparent;
    }

    .with-scroll::-webkit-scrollbar-thumb {
      background-color: #2a2f32;
      border-radius: 4px;
    }

    .with-transition-fast {
      animation: 0.2s appear;
    }

    .with-transition {
      animation: 0.5s appear;
    }

    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .input-custom-wrapper-white {
      @apply bg-white dark:bg-color-dark-gray-darker px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6;
    }

    .input-custom-wrapper-gray {
      @apply bg-gray-50 dark:bg-color-dark-gray-darkest px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6;
    }

    .input-custom-dd {
      @apply sm:col-span-2 text-sm text-color-dark-gray-darkest dark:text-color-gray-lighter;
    }

    .input-custom-dt {
      @apply text-sm font-medium text-gray-500 my-auto dark:text-color-gray-default;
    }

    .input-custom-label {
      @apply sr-only text-xs sm:text-sm font-medium text-gray-700 dark:text-color-gray-default;
    }

    .input-custom-default {
      @apply dark:text-color-gray-lightest w-full shadow-sm text-sm border-gray-300 rounded-md;
    }

    .input-custom-non-edit {
      @apply appearance-none px-0 border-none bg-transparent shadow-none focus:ring-0;
    }

    .input-custom-on-edit {
      @apply dark:bg-color-dark-gray-darkest shadow-sm dark:border-color-dark-gray-default focus:ring-indigo-500 focus:border-indigo-500;
    }

    .card-wrapper-custom-default {
      @apply bg-white dark:bg-color-dark-gray-darker shadow rounded-lg;
    }

    .card-wrapper-custom {
      @apply p-4 bg-white dark:bg-color-dark-gray-darker shadow rounded-lg;
    }

    .card-wrapper-no-rounded {
      @apply p-4 bg-white dark:bg-color-dark-gray-darker shadow;
    }

    .card-wrapper-general-theme {
      @apply bg-white dark:bg-color-dark-gray-darker shadow rounded-lg;
    }

    .sticky-btn {
      @apply p-4 sm:hidden fixed right-9 shadow-xl bottom-20 cursor-default text-color-gray-light rounded-full hover:bg-indigo-700 bg-indigo-600;
    }
  }
}

.toast-style {
  @apply bg-color-dark-gray-darker !important;
  @apply border-b sm:border border-color-gray-darkest shadow-xl;
}

body {
  overflow: overlay;
}

.custom-scroll {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: transparent !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px !important;
  background-color: transparent !important;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-color-dark-gray-darker bg-opacity-60;
  border-radius: 4px;
}
